yay-package-info-and-files() {
    pacman -Qi "$1"
    pacman -Ql "$1" | grep -v '/$'
}

# Check Arch Linux PGP Keyring before System Upgrade to prevent failure.
yay-update-all() {
  sudo pacman -Sy
  echo ":: Checking Arch Linux PGP Keyring..."
  local installedver="$(LANG= sudo pacman -Qi archlinux-keyring | grep -Po '(?<=Version         : ).*')"
  local currentver="$(LANG= sudo pacman -Si archlinux-keyring   | grep -Po '(?<=Version         : ).*')"
  if [ $installedver != $currentver ]; then
    echo " Arch Linux PGP Keyring is out of date."
    echo " Updating before full system upgrade."
{{- if eq .chezmoi.osRelease.id "endeavouros" }}    
    sudo pacman -S --needed --noconfirm archlinux-keyring endeavouros-keyring
{{ else -}}
    sudo pacman -S --needed --noconfirm archlinux-keyring
{{ end }}
  else
    echo " Arch Linux PGP Keyring is up to date."
    echo " Proceeding with full system upgrade."
  fi
  if (( $+commands[yay] )); then
    yay -Su
  elif (( $+commands[trizen] )); then
    trizen -Su
  elif (( $+commands[pacaur] )); then
    pacaur -Su
  elif (( $+commands[aura] )); then
    sudo aura -Su
  else
    sudo pacman -Su
  fi
}

yay-browse-installed-packages.sh() {
  pacman -Qq | fzf --preview-window=right:70% --preview 'pacman -Qi {}' --layout=reverse --bind 'enter:execute(pacman -Qil {} | grep -v "/$" | bat --paging=always)'
}

yay-last-installed-packages.sh() {
  grep -E '(installed)' /var/log/pacman.log | sort -hr | head -n 30
}
