[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=emacs --daemon
Name=Emacs (Daemon)
Icon=emacs
Categories=Development;TextEditor;
StartupNotify=true
Hidden=false
Comment=Start Emacs Daemon
