[Desktop Entry]
Version=1.0
Name=QR Code from Clipboard
Comment=Generates a QR Code from Clipboard Content and displays it in a Terminal
Exec=xterm -T "QR Code from Clipboard" -e "bash -c '/home/dk/.local/bin/qr-from-clipboard.sh; echo; echo Press any key to close; read -n1 -s -r'"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Utility;
